* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
    font-size: 12px;
}

header {
	margin: 0 auto;
	color: #222;
    font-size: 12px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.top_wrapper:after {
    content:"";
    display:block;
    visibility:hidden;
    clear:both;
    height:0;
}

.up_box:after {
    content:"";
    display:block;
    visibility:hidden;
    clear:both;
    height:0;
}

.m_title_box:after {
    content:"";
    display:block;
    visibility:hidden;
    clear:both;
    height:0;
}

.v_link:after {
    content:"";
    display:block;
    visibility:hidden;
    clear:both;
    height:0;
}

.d_Info_con:after {
    content:"";
    display:block;
    visibility:hidden;
    clear:both;
    height:0;
}

.wid_limit {
	width: 980px;
}

.center {
    margin: 0 auto;
}

.top_button {
    display: inline;
    float: left;
}

.top_button>div {
    float: left;
    text-align: center;
    line-height: 42px;
    height: 42px;
    position: relative;
    background-color: hsla(0,0%,100%,0);
    transition: all .3s;
    display: inline;
    margin-left: -10px;
    padding-left: 12px;
}

.top_button>div:hover {
    background-color: hsla(0,0%,100%,0.3);
}

.top_button>div>a {
    height: 100%;
    display: block;
    padding: 0 11px;
    padding-left: 20px;
}


.top_button>div>a>i{
    background-image: url(../img/icons.png);
    position: absolute;
    width: 17px;
    height: 14px;
    left: 10px;
    top: 13px;
    background-position: -919px -88px;
}

.user_wrapper {
    float: right;
    display: inline;
}

.user_con {
    float: right;
    display: inline;
}

.user_item{
    float: left;
    text-align: center;
    line-height: 42px;
    height: 42px;
    position: relative;
    background-color: hsla(0,0%,100%,0);
}

.back_change:hover{
    background-color: hsla(0,0%,100%,.3);
    transition: background-color .3s;
}

.user_item>a {
    color: #222;
    height: 100%;
    display: block;
    padding: 0 11px;
}

.user_head {
    width: 58px;
}

.user_head:hover .info_box{
    display: block;
}

.info_box {
    opacity: 0;
    display: none;
    left: 50%;
    margin-left: -130px;
    width: 260px;
    padding: 50px 0 0;
    top: 70px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.16);
    border-radius: 0 0 4px 4px;
    line-height: normal;
    position: absolute;
    zoom: 1;
}

.head_box {
    position: absolute;
    z-index: 20;
    width: 36px;
    height: 36px;
    left: 11px;
    top: 5px;
    transition: all .3s;
}

.head_box img{
    border: 0 solid #fff;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user_head:hover .head_box {
    left: -4px;
    top: 15px;
    height: 64px;
    width: 64px;
}

.user_head:hover img {
    border: 2px solid #fff;
}

.p_name {
    display: block;
    font-weight: bold;
}

.p_level {
    color: #555;
}

.coin_box {
    position: relative;
    margin: 0 20px 24px;
}

.u_level {
    padding-bottom: 15px;
}

.u_coin {
    margin-right: 26px;
}

.info_icon {
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    background-repeat: no-repeat;
}

.coin_icon {
    background-position: -407px -471px;
    background-image: url(../img/icons.png);
}

.coin_num {
    vertical-align: middle;
    display: inline-block;
}

.coin_box div {
    display: inline-block;
}

.email_icon {
    background-position: -343px -534px;
    background-image: url(../img/icons.png);
}

.user_menu {
    border-top: 1px solid #e5e9ef;
    padding: 10px 20px 40px;
}

.user_menu ul {
    width: 240px;
    clear: both;
    zoom: 1;
}

.user_menu ul:after{
    content:"";
    display:block;
    visibility:hidden;
    clear:both;
    height:0;
}

.user_menu ul li {
    float: left;
    width: 100px;
    margin-right: 20px;
    position: relative;
}

.user_menu ul li a {
    white-space: nowrap;
    color: #222;
    text-align: left;
    margin: 0 auto;
    display: block;
    padding: 5px 0;
    line-height: 16px;
    transition: color .3s;
}

.user_menu ul li a:hover {
    color: #00a1d6;
}

.user_menu ul li a i{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    vertical-align: top;
    transition: background-image .3s;
    background-image: url(../img/icons.png);
}

.user_center {
    background-position: -472px -407px;
}

.up_manage {
    background-position: -536px -1046px;
}

.up_manage_box:hover i {
    background-image: url(../img/icons_02.png);
}

.user_center_box:hover i {
    background-image: url(../img/icons_02.png);
}

.user_buttom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #f4f5f7;
    border-radius: 0 0 4px 4px;
}

.user_buttom a{
    float: right;
    padding-right: 20px;
    color: #222;
}


.user_buttom a:hover {
    color: #00a1d6;
}

.info_bnt>div {
    width: 170px;
    margin-left: -100px;
}

.vip_bnt>div {
    width: 70px;
    margin-left: -10px;
}

.info_bnt:hover .in_box {
    display: block;
}

.vip_bnt:hover .vip_box {
    display: block;
}

.back_change>div, .up_box {
    display: none;
    position: absolute;
    top: 57px;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.16);
    border: 1px solid #e5e9ef;
    text-align: center;
    font-size: 12px;
}

.up_button {
    float: right;
    position: relative;
    width: 58px;
    height: 42px;
}

.up_button>a {
    display: block;
    width: 100%;
    height: 48px;
    line-height: 42px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-image: url(../img/up_button.png);
}

.up_button:hover .up_box {
    display: block;
}

.up_box {
    width: 144px;
    margin-left: -87px;
}

.up_box li {
    cursor: pointer;
    text-align: center;
    width: 72px;
    height: 64px;
    transition: .2s;
    float: left;
    position: relative;
    background: #fff;
}

.up_box li:hover {
    background: #e5e9ef;
}

.up_box i {
    display: block;
    width: 20px;
    height: 20px;
    margin: 15px auto 2px;
    transition: .2s;
    background-image: url(../img/icons.png);
}

.up_box li:hover i {
    transform: translateY(-2px);
}

.up_box span {
    color: #f25d8e;
}

.up_video i{
    background-position: -471px -919px;
}

.up_manage i{
    background-position: -471px -982px;
}

.top_nav {
	position: relative;
	height: 42px;
    z-index: 200;
}

.mask {
	position: absolute;
	top: 0;
	left: 0;
    background: white;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.blur_pic {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: url(../img/sign/left.png);
	background-repeat: no-repeat;
	background-position: center -10px;
	filter: blur(4px);
}

.banner_wrapper {
	background-image: url(../img/sign/left.png);
	background-repeat: no-repeat;
	background-position: center -10px;
	height: 170px;
	margin-top: -42px;
    z-index: 195;
    position: relative;
}

.banner {
    height: 170px;
    position: relative;
}

.banner>p {
    position: absolute;
    top: 114px;
    left: 255px;    
    line-height: 20px;
    padding: 6px 10px;
    background-color: rgba(0,0,0,.68);
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    max-width: 350px;
    opacity: 0;
    transition: all .2s;
}

.banner_wrapper:hover>div>p {
    opacity: 1;
}

.big_logo {
    position: absolute;
    width: 220px;
    height: 105px;
    left: 24px;
    top: 55px;
    background: url(../img/sign/logo.png); no-repeat :0;
    z-index: 10;
}

.link_page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.search_con {
    width: 268px;
    height: 32px;
    position: absolute;
    bottom: 20px;
    right: 0;
    padding: 2px 2px 2px 2px;
    background-color: rgba(0,0,0,.12);
    border-radius: 6px;
    z-index: 10;
}

.search_con>div {
    background-color: hsla(0,0%,100%,.88);
    display: block;
    height: 32px;
    border-radius: 4px;
    transition: background-color .2s;
}

.search_con>div:hover {
    background-color: white;
}

.search_con>div>input {
    outline: none;
    float: left;
    width: 200px;
    font-size: 12px;
    overflow: hidden;
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
    border: 0;
    background-color: transparent;
}

.search_con>div>button {
    outline: none;
    display: block;
    position: absolute;
    right: 0;
    width: 48px;
    height: 32px;
    background: url(../img/icons.png) -653px -720px;
    border: 0;
    transition: background-image .2s;
    cursor: pointer;
}

.search_con>div>button:hover {
    background-image: url(../img/icons_02.png);
}

.prime_nav_wrapper {
    position: relative;
}

.prime_nav_con {
    position: relative;
    height: 50px;
    padding: 8px 0 0 0;
    margin: 0 0 4px 0;
    border-bottom: 1px solid #e5e9ef;
}

.prime_nav {
	position: relative;
	height: 42px;
	display: inline-block;
	width: 897px;
}

.prime_nav>li:not(.right_item) {
	display: block;
	float: left;
}

.home_button {
	margin-right: 7px;
}

.home_button>a {
	width: auto;
    display: block;
	background-image: url(../img/icons.png);
	background-position: -660px -1170px;
	background-repeat: no-repeat;
}

.home_button>a>div {
    height: 40px;
    padding-top: 8px;
    position: relative;
    top: 15px;
    line-height: 20px;
}

.prime_nav>li:not(.right_item):not(.home_button)>a{
    width: 48px;
    display: block;
    text-align: center;
    position: relative;
}

.prime_nav>li:not(.right_item):not(.home_button)>a>div:first-child{
	position: absolute;
    width: 100%;
    text-align: center;
    height: 12px;
    top: 8px;
}

.prime_nav>li:not(.right_item):not(.home_button)>a>div:last-child{
    padding-top: 8px;
    height: 40px;
    line-height: 50px;
}


.prime_nav>li:not(.right_item):not(.home_button)>a>div>span{
	margin: 0 auto;
    display: block;
    max-width: 28px;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #ffafc9;
    border-radius: 3px;
    height: 12px;
    font-size: 12px;
    transform: scale(0.85);
    padding: 1px 3px;
    width: fit-content;
    min-width: 12px;
}

.right_item {
	float: right;
	margin: 0 4px;
    width: 40px;
    text-align: center;
}

.right_item>a {
	text-align: center;
	display: inline-block;
    position: relative;
    overflow: hidden;
}

.right_item>a:hover span {
	color: #00a1d6;
}

.right_item>a>span {
    transition: color .2s;
    display: block;
    font-size: 12px;
}

.right_item>a>i {
    background-image: url(../img/icons.png);
	background-repeat: no-repeat;
	display: block;
    width: 18px;
    height: 18px;
    margin: 3px auto 2px;
}

.find_button {
	background-position: -87px -1814px;
}

.mag_button {
    background-position: -87px -1942px;
}

.random_button {
	position: absolute;
    height: 50px;
    padding: 4px 0;
    right: 0;
    top: 0;
}

.random_button>a {
    width: 69px;
    height: 40px;
    vertical-align: top;
    margin: 3px 0;
    display: inline-block;
    overflow: hidden;
}

.random_button>a>img {
	width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 3px;
}

.d_Info_con {
    width: 980px;
    margin: 0 auto;
}

.d_videoInfo_con{
    padding: 5px 0 8px;
    float: left;
    width: 640px;
    position: relative;
    overflow: hidden;
}

.d_video_title {
    display: block;
    margin-right: 80px;
    color: #525659;
    overflow: hidden;
    height: 24px;
    line-height: 24px;
    text-overflow: ellipsis;
    font-weight: 400;
    white-space: nowrap;
    padding: 8px 0;
    font-size: 18px;
}

.d_divInfo_con {
    position: relative;
    width: 100%;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    margin-top: 6px;
    color: #99a2aa;
}

.hover_a:hover {
    color: #00a1d6;
}

.son_div {
    margin-right: 32px;
}

.d_coinInfo_con {
    vertical-align: baseline;
}

.d_coinInfo_con>span {
    display: inline-block;
    vertical-align: baseline;
}

.d_coinInfo_con i {
    display: inline-block;
    vertical-align: middle;
    width: 45px;
    height: 60px;
    margin-top: -3px;
    margin-right: 3px;
    background-image: url(../img/play/coin_jump.png);
}

.d_nor_span:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    margin-top: -3px;
    margin-right: 3px;
    background: url(../img/icons.png);
}

.d_hits:before {
    background-position: -659px -210px;
}

.d_barr:before {
    background-position: -659px -275px;
}

.d_nor_span {
    margin-right: 30px;
}

div .d_line {
    border-left: 1px solid #eee;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.d_big_span {
    margin-right: 5px;
}

.d_userInfo_con {
    width: 315px;
    margin: 15px 0;
    float: right;
    background: #fff;
    position: relative;
}

.d_user_head_box {
    width: 68px;
    height: 68px;
    position: relative;
    display: inline-block;
    float: left;
}

.d_user_head_box a {
    display: block;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    overflow: hidden;
}

.d_user_head {
    background: #f9f9f9;
    width: 100%;
    height: 100%;
}

.d_userInfo_box {
    width: 226px;
    margin-left: 89px;
}

.d_userName_box {
    height: 22px;
}

.d_userName {
    display: inline-block;
    float: left;
    max-width: 150px;
    font-size: 14px;
    word-wrap: break-word;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    height: 20px;
    color: #00a1d6;
    white-space: nowrap;
    transition: color .2s;
}

.d_userName:hover {
    color: #fb7299;
}

#u_sign_box button {
    display: inline-block;
    padding: 2px 5px;
    line-height: 14px;
    height: 20px;
    font-size: 12px;    
    color: #00a1d6;
    border-color: transparent;
    background-color: #fff;
    border-radius: 4px;
    transition: all .3s;
    user-select: none;
    text-align: center;
    cursor: pointer;
    outline: 0;
}

#u_sign_box button:hover {
    color: #00a1d6;
    background-color: #e5e9ef;
}

#u_sign_box {
    word-break: break-all;
    line-height: 20px;
    min-height: 40px;
    transition: all .6s;
    position: relative;
}

.up_span_status {
    height: 40px;
    overflow: hidden;
}

.up_bnt_status {
    position: absolute;
    right: 0;
    bottom: 0;
}

.d_bnt_box {
    margin-top: 10px;
    white-space: nowrap;
}

.add_coin {    
    padding: 4px 53px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    background: #00a1d6;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    transition: all .3s;
    user-select: none;
    border: 1px solid #00a1d6;
    text-align: center;
    cursor: pointer;
    box-sizing: content-box;
}

.add_coin:hover {
    background: #00b5e5;
    border-color: #00b5e5;
}

main {
    position: relative;
    border-top: 1px solid #e5e9ef;
    border-bottom: 1px solid #e5e9ef;
    background-color: #f6f9fa;
    padding: 22px 0 58px;
    text-align: center;
}

.play_con {
    height: 556px;
    background-image: url(../img/play/mod.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
    width: 980px;
    margin: 0 auto;
}

.play_wrapper {
    position: relative;
    margin: 0 auto 20px;
}

.player_box {
    width: 980px;
    height: 556px;
}

.player {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: left;
    box-shadow: 0 0 8px #e2e2e2;
    white-space: nowrap;
    zoom: 1;
}

.p_left_part {
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 100%;
    pointer-events: auto;
    width: 680px;
}

.left_top {
    position: relative;
    z-index: 11;
    width: 100%;
    height: 48px;
    background-color: #353535;
}

.left_top div {
    display: block;
    position: relative;
    padding: 8px 30px;
    height: 34px;   
    line-height: 34px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.home_text {
    color: white;
}

.left_top a {
    background: #262626;
    display: block;
    height: 100%;
    width: 100%;
}

.left_mid {
    cursor: pointer;
    height: 440px;
    position: relative;
    z-index: 66;
    width: 100%;
    user-select: none;
}

.video_box {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
    box-sizing: border-box;
    padding: 2px 7px;
    background: #000;
    cursor: pointer;
}

#video {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.video_bar {
    position: relative;
    background-color: #fff;
    z-index: 68;
    width: 100%;
    height: 28px;
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    zoom: 1;
    font-size: 0;
}

.video_bar div {
    vertical-align: top;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    margin-left: 7px;
    position: relative;
}

.start_bnt {
    width: 40px;
    cursor: pointer;
    text-align: center;
}

.progress_bar {
    width: 436px;
    padding: 0 3px;
    margin-right: 11px;
}

.time_div {
    width: 84px;
    line-height: 28px;
    height: 28px;
    font-size: 12px;
    position: relative;
    user-select: none;
    white-space: nowrap;
    color: #99a2aa;
}

.p_icon {
    background-image: url(../img/play/myicons.png);
    background-repeat: no-repeat;
    height: 28px;
    width: 28px;
    display: block;
    margin: 0 auto;
    position: absolute;
    cursor: pointer;
}

.pause {
    background-position: -212px 0px;
}
    
.start {
    background-position: -174px 0px;
    display: none;
}

.full_bnt {
    background-position: -138px 0px;
}

.vol_bnt {
    background-position: 0 0;
}

.white_line, .blue_line {
    height: 5px;
    position: absolute;
    top: 12px;
    border-radius: 4px;
}

.blue_line {
    width: 0;
    background: cornflowerblue;
}

.white_line {
    width: 100%;
    background: #e0e0e0;
}

.p_shodow {
    opacity: 0.1;
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30;
}

.terminal_box {
    width: 70px;
    height: 28px;
}

#Terminal {
    width: 61px;
    height: 21px;
    position: absolute;
    top: 3px;
    border-radius: 6px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    user-select: none;
    cursor: pointer;
}

.Terminal_unactive{
    background: #e0e0e0;
    color: #777777;
}

.Terminal_active{
    background: #777777;
    color: #e0e0e0;
}

footer {    
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
}

footer div {
    color: darkgrey;
    font-size: 12px;
    display: inline-block;
    cursor: pointer;
    width: 980px;
}
