* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: Microsoft YaHei,Arial,Helvetica,sans-serif;
}

header {
    margin: 0 auto;
    color: #222;
    font-size: 12px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.top_wrapper:after {
    content:"";
    display:block;
    visibility:hidden;
    clear:both;
    height:0;
}

.up_box:after {
    content:"";
    display:block;
    visibility:hidden;
    clear:both;
    height:0;
}

.tip_box:after {
    content:"";
    display:block;
    visibility:hidden;
    clear:both;
    height:0;
}

.up_wrapper:after {
    content:"";
    display:block;
    visibility:hidden;
    clear:both;
    height:0;
}

.us_user_video>div:after {
    content:"";
    display:block;
    visibility:hidden;
    clear:both;
    height:0;
}

.video_list:after {
    content:"";
    display:block;
    visibility:hidden;
    clear:both;
    height:0;
}

.wid_limit {
    width: 980px;
}

.center {
    margin: 0 auto;
}

.top_button {
    display: inline;
    float: left;
}

.top_button>div {
    float: left;
    text-align: center;
    line-height: 42px;
    height: 42px;
    position: relative;
    background-color: hsla(0,0%,100%,0);
    transition: all .3s;
    display: inline;
    margin-left: -10px;
    padding-left: 12px;
}

.top_button>div:hover {
    background-color: hsla(0,0%,100%,0.3);
}

.top_button>div>a {
    height: 100%;
    display: block;
    padding: 0 11px;
    padding-left: 20px;
}


.top_button>div>a>i{
    background-image: url(../img/icons.png);
    position: absolute;
    width: 17px;
    height: 14px;
    left: 10px;
    top: 13px;
    background-position: -919px -88px;
}

.user_wrapper {
    float: right;
    display: inline;
}

.user_con {
    float: right;
    display: inline;
}

.user_item{
    float: left;
    text-align: center;
    line-height: 42px;
    height: 42px;
    position: relative;
    background-color: hsla(0,0%,100%,0);
}

.back_change:hover{
    background-color: hsla(0,0%,100%,.3);
    transition: background-color .3s;
}

.user_item>a {
    color: #222;
    height: 100%;
    display: block;
    padding: 0 11px;
}

.user_head {
    width: 58px;
}

.user_head:hover .info_box{
    display: block;
}

.info_box {
    opacity: 0;
    display: none;
    left: 50%;
    margin-left: -130px;
    width: 260px;
    padding: 50px 0 0;
    top: 70px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.16);
    border-radius: 0 0 4px 4px;
    line-height: normal;
    position: absolute;
    zoom: 1;
}

.head_box {
    position: absolute;
    z-index: 20;
    width: 36px;
    height: 36px;
    left: 11px;
    top: 5px;
    transition: all .3s;
}

.head_box img{
    border: 0 solid #fff;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user_head:hover .head_box {
    left: -4px;
    top: 15px;
    height: 64px;
    width: 64px;
}

.user_head:hover img {
    border: 2px solid #fff;
}

.p_name {
    display: block;
    font-weight: bold;
}

.p_level {
    color: #555;
}

.coin_box {
    position: relative;
    margin: 0 20px 24px;
}

.u_level {
    padding-bottom: 15px;
}

.u_coin {
    margin-right: 26px;
}

.info_icon {
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    background-repeat: no-repeat;
}

.coin_icon {
    background-position: -407px -471px;
    background-image: url(../img/icons.png);
}

.coin_num {
    vertical-align: middle;
    display: inline-block;
}

.coin_box div {
    display: inline-block;
}

.email_icon {
    background-position: -343px -534px;
    background-image: url(../img/icons.png);
}

.user_menu {
    border-top: 1px solid #e5e9ef;
    padding: 10px 20px 40px;
}

.user_menu ul {
    width: 240px;
    clear: both;
    zoom: 1;
}

.user_menu ul:after{
    content:"";
    display:block;
    visibility:hidden;
    clear:both;
    height:0;
}

.user_menu ul li {
    float: left;
    width: 100px;
    margin-right: 20px;
    position: relative;
}

.user_menu ul li a {
    white-space: nowrap;
    color: #222;
    text-align: left;
    margin: 0 auto;
    display: block;
    padding: 5px 0;
    line-height: 16px;
    transition: color .3s;
}

.user_menu ul li a:hover {
    color: #00a1d6;
}

.user_menu ul li a i{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    vertical-align: top;
    transition: background-image .3s;
    background-image: url(../img/icons.png);
}

.user_center {
    background-position: -472px -407px;
}

.up_manage {
    background-position: -536px -1046px;
}

.up_manage_box:hover i {
    background-image: url(../img/icons_02.png);
}

.user_center_box:hover i {
    background-image: url(../img/icons_02.png);
}

.user_buttom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #f4f5f7;
    border-radius: 0 0 4px 4px;
}

.user_buttom a{
    float: right;
    padding-right: 20px;
    color: #222;
}


.user_buttom a:hover {
    color: #00a1d6;
}

.info_bnt>div {
    width: 170px;
    margin-left: -100px;
}

.vip_bnt>div {
    width: 70px;
    margin-left: -10px;
}

.info_bnt:hover .in_box {
    display: block;
}

.vip_bnt:hover .vip_box {
    display: block;
}

.back_change>div, .up_box {
    display: none;
    position: absolute;
    top: 57px;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.16);
    border: 1px solid #e5e9ef;
    text-align: center;
    font-size: 12px;
}

.up_button {
    float: right;
    position: relative;
    width: 58px;
    height: 42px;
}

.up_button>a {
    display: block;
    width: 100%;
    height: 48px;
    line-height: 42px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-image: url(../img/up_button.png);
}

.up_button:hover .up_box {
    display: block;
}

.up_box {
    width: 144px;
    margin-left: -87px;
}

.up_box li {
    cursor: pointer;
    text-align: center;
    width: 72px;
    height: 64px;
    transition: .2s;
    float: left;
    position: relative;
    background: #fff;
}

.up_box li:hover {
    background: #e5e9ef;
}

.up_box i {
    display: block;
    width: 20px;
    height: 20px;
    margin: 15px auto 2px;
    transition: .2s;
    background-image: url(../img/icons.png);
}

.up_box li:hover i {
    transform: translateY(-2px);
}

.up_box span {
    color: #f25d8e;
}

.up_video i{
    background-position: -471px -919px;
}

.up_manage i{
    background-position: -471px -982px;
}

.top_nav {
    position: relative;
    height: 42px;
    z-index: 200;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    height: 100%;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.head_wrapper {
    width: 1100px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 10px;
}

.us_userInfo_wrapper {
    background-image: url(../img/user/background.webp);
    background-position: 50%;
    background-size: cover;
    padding-top: 116px;
    height: 200px;
    box-sizing: border-box;
}

.back_showdow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 84px;
    background-image: url(../img/user/back_shadow.png);
    background-repeat: repeat-x;
}

.us_userInfo_con {
    position: relative;
    z-index: 1;
}

.us_userInfo_box {
    margin-left: 20px;
    padding-bottom: 16px;
}

.us_head_img_box {
    position: relative;
    float: left;
    width: 64px;
    height: 64px;
    border: 2px solid hsla(0,0%,100%,.4);
    border-radius: 52px;
}

.us_head_img {
    width: 64px;
    height: 64px;
    background: #fff;
    border-radius: 48px;
}

.us_head_img_box a {
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 64px;
    background: rgba(0,0,0,.6);
    font-size: 12px;
    color: #fff;
    line-height: 64px;
    text-align: center;
    opacity: 0;
    border-radius: 50%;
    transition: opacity .2s;
}

.us_head_img_box:hover a {
    opacity: 1;
}

.base_info {
    float: left;
    color: #fff;
    font-size: 0;
    margin: 10px 0 0 20px;
}

.us_user_name {
    display: inline-block;
    margin-right: 5px;
    font-weight: 700;
    line-height: 18px;
    font-size: 18px;
    vertical-align: middle;
}

.us_user_level {
    background-position: -21px -46px;
    display: inline-block;
    width: 28px;
    height: 16px;
    margin-right: 5px;
    vertical-align: middle;
    background-image: url(../img/user/level.png);
    background-repeat: no-repeat;
}

.us_big_vip {
    margin-right: 5px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-image: url(../img/user/big_vip.png);
    display: none;
    width: 46px;
    height: 16px;
}

.us_sign_box {
    margin-top: 8px;
}

.us_user_sign {
    color: #d6dee4;
    font-size: 12px;
    line-height: 26px;
    height: 26px;
    width: 740px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .2s;
}

.us_user_sign:hover {
    background: hsla(0,0%,100%,.2);
    box-shadow: 0 0 0 1px hsla(0,0%,100%,.5);
}

.us_user_video>div {
    width: 1100px;
    padding-bottom: 30px;
    margin: 0 auto;
    position: relative;
}

.left_part {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    float: left;
    padding: 15px 20px;
    width: 700px;
}

.right_part {
    float: right;
    width: 350px;
}

.full_video {
    border-bottom: 1px solid #eee;
    padding-bottom: 36px;
    margin-bottom: 17px;
    position: relative;
}

.list_title {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    padding: 0 0 15px;
    position: relative;
}

.right_con {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 15px 20px 18px;
    margin-bottom: 10px;
}

.manage_center {
    height: 100%;
    width: 100%;
    text-align: center;
    background: crimson;
    color: white;
    padding: 12px 0;
    border-radius: 24px;
    font-size: 18px;
    font-weight: bold;
}

.info_row {
    height: 44px;
    line-height: 44px;
    white-space: nowrap;
}

.info_row>div {
    display: inline-block;
    line-height: 44px;
    width: 49%;
    font-size: 12px;
}

.us_time_icon, .us_id_icon {
    width: 30px;
    height: 28px;
    vertical-align: middle;
    display: inline-block;
    background-image: url(../img/user/icons.png);
}

.us_id_icon {
    background-position: -209px -145px;
}

.us_time_icon {
    background-position: -209px -83px;
}

html {
    background: #f4f5f7;
}

.video_list {
    position: relative;
    font-size: 12px;
}

.video_list li{
    height: 208px;
    width: 168px;
    border: 1px solid #e5e9ef;
    border-radius: 4px;
    float: left;
    margin-right: 6px;
    margin-top: 20px;
}

.pics_box {    
    position: relative;
    height: 100px;
    display: block;
    overflow: hidden;
    text-align: center;
    border-radius: 4px;
}

.lazy_pic {
    background: url(../img/coverLoading.png) 50% no-repeat;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.lazy_pic img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    outline: 0;
    vertical-align: middle;
}

.v_time{
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 18px;
    padding: 0 5px;
    color: #fff;
    background-color: #333;
    background-color: rgba(0,0,0,.5);
    border-top-left-radius: 4px;
}

.v_info_box {
    padding: 8px 10px 0;
}

.v_info_box>div {
    margin-bottom: 12px;
    height: 40px;
    overflow: hidden;
}

.v_link {
    line-height: 20px;
    color: #222;
    outline: 0;
    cursor: pointer;
}

.v_link:hover {
    color: #00a1d6;
}

.v_tags>span {
    white-space: nowrap;
    display: inline-block;
    height: 12px;
    vertical-align: text-top;
    line-height: 12px;
    padding-left: 16px;
    position: relative;
    color: #99a2aa;
    float: left;
}

.v_icons {
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../img/icons_search.png);
    width: 12px;
    height: 12px;
}

.watcher {
    margin-right: 8px;
    margin-bottom: 12px;
    width: 41px;
    overflow: inherit;
}

.up_data {
    margin-right: 0;
    margin-bottom: 12px;
    width: 67px;
}

.up_user {
    margin-right: 8px;
    margin-bottom: 12px;
}

.watcher i {    
    background-position: -485px -543px;
}

.up_data i {
    background-position: -442px -165px;
}

.up_user i {
    background-position: -442px -83px;
}

.video_list li:nth-child(4n) {
    margin-right: 0;
}

.empty_box {
    height: 304px;
}

.empty_box:after {
    background-image: url(../img/none_up.png);
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 4px;
    color: #6d757a;
    content: "\89C6\9891\4E3A\7A7A";
    display: block;
    font-size: 14px;
    height: 330px;
    overflow: hidden;
    line-height: 530px;
    text-align: center;
}